@font-face {
  font-family: 'ANova';
  src: url('@/assets/fonts/arial-nova.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ANovaLight';
  src: url('@/assets/fonts/arial-nova-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ANovaBold';
  src: url('@/assets/fonts/arial-nova-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ANovaCond';
  src: url('@/assets/fonts/arial-nova-cond.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ANovaCondBold';
  src: url('@/assets/fonts/arial-nova-cond-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ANovaCondLight';
  src: url('@/assets/fonts/arial-nova-cond-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}