.card {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary);

  &__image {
    object-fit: cover;
    height: 360px;
  }

  &__content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    div {
      color: var(--label-primary);
    }

    span {
      color: var(--label-secondary);
    }
  }
}